# Настройки среды разработки PyCharm
.idea/
*.iws
*.iml
out/

# Кэш Python (компилированные файлы, которые мешают в Git)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Локальные переменные окружения и базы для тестов (если появятся)
.env
*.env
db.sqlite3

# Системные файлы операционных систем
.DS_Store
Thumbs.db